
.grid {
    margin: 10px;
    border: 1px solid black;
}

.grid > div {
    display: flex;
}

div > .etch-row {
    width: 10px;
    height: 10px;
}

button {
    font-weight: bold;
    color: white;
    padding: 16px;
    background-color: lightcoral;
}

button:hover {
    background-color: wheat;
}